<div class="card mt-3">
    <form [formGroup]="signinForm" (ngSubmit)="signinForm.valid && validateForm()" novalidate autocomplete="off">
        <div class="card-header bg-primary text-white display-6">Inscription</div>
        <div class="card-body">
            <div class="form-group">
                <label for="login">Identifiant:</label>
                <input type="text" required class="form-control" id="login" name="login" formControlName="login" />
                <span class="text-danger"
                    *ngIf="signinForm.get('login')?.touched && signinForm.get('login')?.hasError('required')">
                    Le nom d'utilisateur est obligatoire.
                </span>
            </div>
            <div class="form-group">
                <label for="password">Mot de passe:</label>
                <input type="password" class="form-control" id="password" name="password" formControlName="password"
                    required minlength="4" />
                <span class="text-danger"
                    *ngIf="signinForm.get('password')?.touched && signinForm.get('password')?.hasError('required')">
                    Le mot de passe est obligatoire.
                </span>
                <span class="text-danger"
                    *ngIf="signinForm.get('password')?.touched && signinForm.get('password')?.hasError('minlength')">
                    Le mot de passe doit comporter au moins 4 caractères
                </span>
            </div>
            <div class="form-group">
                <label for="passwordCheck">Confirmation de mot de passe:</label>
                <input type="password" class="form-control" id="passwordCheck" name="passwordCheck"
                    formControlName="passwordCheck" required />
                <span class="text-danger"
                    *ngIf="signinForm.get('passwordCheck')?.touched && signinForm.get('passwordCheck')?.hasError('required')">
                    Veuillez confirmer votre mot de passe
                </span>
                <span class="text-danger"
                    *ngIf="signinForm.get('passwordCheck')?.touched && signinForm.get('passwordCheck')?.hasError('passwordMismatch')">
                    Mot de passe incorrect
                </span>
            </div>

            <div class="form-group">
                <label for="name">Nom:</label>
                <input type="text" class="form-control" id="name" name="name" formControlName="name" required />
                <span class="text-danger"
                    *ngIf="signinForm.get('name')?.touched && signinForm.get('name')?.errors?.['required']">
                    Veuillez entrer un nom
                </span>
            </div>
            <div class="form-group">
                <label for="firstName">Prenom:</label>
                <input type="text" class="form-control" id="firstName" name="firstName" formControlName="firstName"
                    required />
                <span class="text-danger"
                    *ngIf="signinForm.get('firstName')?.touched && signinForm.get('firstName')?.errors?.['required']">
                    Veuillez entrer un prénom
                </span>
            </div>
            <div class="form-group">
                <label for="mail">Adresse mail:</label>
                <input type="email" class="form-control" id="mail" name="mail" formControlName="mail" required />
                <span class="text-danger"
                    *ngIf="signinForm.get('mail')?.touched && signinForm.get('mail')?.hasError('required')">
                    Veuillez entrer une adresse mail
                </span>
                <span class="text-danger"
                    *ngIf="signinForm.get('mail')?.touched && signinForm.get('mail')?.hasError('email')">
                    L'adresse Email est invalide
                </span>
            </div>
        </div>
        <div class="card-footer">
            <div class="btn-group btn-group-lg float-right">
                <button type="submit" class="btn btn-success"><i class="bi bi-check-square-fill"></i></button>
            </div>
        </div>
    </form>
</div>