<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
    
        <a class="navbar-brand" [routerLink]="['']">
            <img src="assets\logoMediaHub_V1_sansFleche.png" alt="Logo" height="70">
        </a>

        <ul class="nav nav-pills m-5">
            
            <li class="nav-item" *ngIf="authService.isAuthenticated()">
                <a class="nav-link" [routerLink]="['/account']" routerLinkActive="active">Utilisateurs</a>
            </li>
            <li class="nav-item" *ngIf="!authService.isAuthenticated()">
                <a class="nav-link" [routerLink]="['/signin']" routerLinkActive="active">Inscription</a>
            </li>
            <li class="nav-item" *ngIf="!authService.isAuthenticated()">
                <a class="nav-link" [routerLink]="['/connection']" routerLinkActive="active">Connexion</a>
            </li>
            <li class="nav-item" *ngIf="authService.isAuthenticated()">
                <a class="nav-link" (click)="disconnection()" routerLinkActive="active">Deconnexion</a>
            </li>
        </ul>


    </div>
</nav>



