<nav class="nav nav-pills m-5">
    <div class="card-header">
        <h4>
            <button type="button" class="btn btn-primary" (click)="showAllMedia()">Médias</button>   
            <button type="button" class="btn btn-primary" (click)="showMovieList()">Films</button>      
            <button type="button" class="btn btn-primary" (click)="showBoardGameList()">Jeux de Plateau</button>        
            <button type="button" class="btn btn-primary" (click)="showVideoGameList()">Jeux Vidéos</button>     
            <button type="button" class="btn btn-primary" (click)="showBookList()">Livres</button>     
            <button type="button" class="btn btn-primary" (click)="showMagazineList()">Magazines</button>      
            <button type="button" class="btn btn-primary" (click)="showMusicList()">Musique</button>
        </h4>
    </div>

    <div class="card-body">
        <div *ngIf="showAllMediaForm">
            <table>
                <thead>
                    <tr>
                        <th colspan="6">Liste de tous les Médias</th>
                    </tr>
                    <tr>
                        <th>Nom</th>
                        <th>Type de Média</th>
                        <th>Maison d'edition</th>
                        <th>Langue d'origine</th>
                        <th>Date de parution</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let perso of persoListJoinMedia$ | async">
                        <td [routerLink]="['/media/details/', perso.media.id]">{{perso.media.name}}</td>
                        <td>{{perso.media.typeMedia}}</td>
                        <td>{{perso.media.publishingHouse}}</td>
                        <td>{{perso.media.language}}</td>
                        <td>{{perso.media.parutionDate}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="showBoardGameForm">
            <table>
                <thead>
                    <tr>
                        <th colspan="8">Liste des Jeux de plateaux</th>
                    </tr>
                    <tr>
                        <th>Nom</th>
                        <th>Maison d'edition</th>
                        <th>Nombre de joueur(s)</th>
                        <th>Age recommandé</th>
                        <th>Durée du jeu (en minutes)</th>
                        <th>Langue d'origine</th>
                        <th>Date de parution</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody *ngFor="let perso of persoListJoinMedia$ | async">
                    <tr *ngIf="perso.media.typeMedia=='BoardGame'">
                        <td [routerLink]="['/media/details/', perso.media.id]">{{perso.media.name}}</td>
                        <td>{{perso.media.publishingHouse}}</td>
                        <td>{{perso.media.playerNumber}}</td>
                        <td>{{perso.media.recommendedAge}}</td>
                        <td>{{perso.media.duration}}</td>
                        <td>{{perso.media.language}}</td>
                        <td>{{perso.media.parutionDate}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div *ngIf="showBookForm">
            <table>
                <thead>
                    <tr>
                        <th colspan="7">Liste des Livres</th>
                    </tr>
                    <tr>
                        <th>Nom</th>
                        <th>Auteur</th>
                        <th>Type de Livre</th>
                        <th>Maison d'edition</th>
                        <th>Langue d'origine</th>
                        <th>Date de parution</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody *ngFor="let perso of persoListJoinMedia$ | async">
                    <tr *ngIf="perso.media.typeMedia=='Book'">
                        <td [routerLink]="['/media/details/', perso.media.id]">{{perso.media.name}}</td>
                        <td>{{perso.media.author}}</td>
                        <td>{{perso.media.bookType}}</td>
                        <td>{{perso.media.publishingHouse}}</td>
                        <td>{{perso.media.language}}</td>
                        <td>{{perso.media.parutionDate}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div *ngIf="showMagazineForm">
            <table>
                <thead>
                    <tr>
                        <th colspan="6">Liste des Magazines</th>
                    </tr>
                    <tr>
                        <th>Nom</th>
                        <th>Périodicité</th>
                        <th>Maison d'edition</th>
                        <th>Langue d'origine</th>
                        <th>Date de parution</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody *ngFor="let perso of persoListJoinMedia$ | async">
                    <tr *ngIf="perso.media.typeMedia=='Magazine'">
                        <td [routerLink]="['/media/details/', perso.media.id]">{{perso.media.name}}</td>
                        <td>{{perso.media.magazinePeriodicity}}</td>
                        <td>{{perso.media.publishingHouse}}</td>
                        <td>{{perso.media.language}}</td>
                        <td>{{perso.media.parutionDate}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div *ngIf="showMovieForm">
            <table>
                <thead>
                    <tr>
                        <th colspan="8">Liste des Films</th>
                    </tr>
                    <tr>
                        <th>Nom</th>
                        <th>Réalisateur(s)</th>
                        <th>Acteurs</th>
                        <th>Durée du film</th>
                        <th>Maison d'edition</th>
                        <th>Langue d'origine</th>
                        <th>Date de parution</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody *ngFor="let perso of persoListJoinMedia$ | async">
                    <tr *ngIf="perso.media.typeMedia=='Movie'">
                        <td [routerLink]="['/media/details/', perso.media.id]">{{perso.media.name}}</td>
                        <td>{{perso.media.directors}}</td>
                        <td>{{perso.media.actors}}</td>
                        <td>{{perso.media.duration}}</td>
                        <td>{{perso.media.publishingHouse}}</td>
                        <td>{{perso.media.language}}</td>
                        <td>{{perso.media.parutionDate}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div *ngIf="showMusicForm">
            <table>
                <thead>
                    <tr>
                        <th colspan="9">Liste des Musiques</th>
                    </tr>
                    <tr>
                        <th>Nom</th>
                        <th>Artiste</th>
                        <th>Nombre de chansons</th>
                        <th>Titres des chansons</th>
                        <th>Durée totale de l'Album</th>
                        <th>Maison d'edition</th>
                        <th>Langue d'origine</th>
                        <th>Date de parution</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody *ngFor="let perso of persoListJoinMedia$ | async">
                    <tr *ngIf="perso.media.typeMedia=='Music'">
                        <td [routerLink]="['/media/details/', perso.media.id]">{{perso.media.name}}</td>
                        <td>{{perso.media.artist}}</td>
                        <td>{{perso.media.trackNumber}}</td>
                        <td>{{perso.media.tracks}}</td>
                        <td>{{perso.media.duration}}</td>
                        <td>{{perso.media.publishingHouse}}</td>
                        <td>{{perso.media.language}}</td>
                        <td>{{perso.media.parutionDate}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div *ngIf="showVideoGameForm">
            <table>
                <thead>
                    <tr>
                        <th colspan="5">Liste des Jeux Vidéos</th>
                    </tr>
                    <tr>
                        <th>Nom</th>
                        <th>Multijoueur</th>
                        <th>Pegi</th>
                        <th>Maison d'edition</th>
                        <th>Langue d'origine</th>
                        <th>Date de parution</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody *ngFor="let perso of persoListJoinMedia$ | async">
                    <tr *ngIf="perso.media.typeMedia=='VideoGame'">
                        <td [routerLink]="['/media/details/', perso.media.id]">{{perso.media.name}}</td>
                        <td *ngIf="perso.media.multiPlayer">Oui</td>
                        <td *ngIf="!perso.media.multiPlayer">Non</td>
                        <td>{{perso.media.pegi}}</td>
                        <td>{{perso.media.publishingHouse}}</td>
                        <td>{{perso.media.language}}</td>
                        <td>{{perso.media.parutionDate}}</td>
                    </tr>
                </tbody>
            </table>
        </div>   
    </div>
</nav>
