<nav class="nav nav-pills m-5">
    <div class="card-header" id="cardHeader">
        <h4>
            <button type="button" class="btn btn-primary" (click)="showAllMedia()"><h4>Médias</h4></button>   
            <button type="button" class="btn btn-primary" (click)="showMovieList()"><h4>Films</h4></button>      
            <button type="button" class="btn btn-primary" (click)="showBoardGameList()"><h4>Jeux de Plateau</h4></button>        
            <button type="button" class="btn btn-primary" (click)="showVideoGameList()"><h4>Jeux Vidéos</h4></button>     
            <button type="button" class="btn btn-primary" (click)="showBookList()"><h4>Livres</h4></button>     
            <button type="button" class="btn btn-primary" (click)="showMagazineList()"><h4>Magazines</h4></button>      
            <button type="button" class="btn btn-primary" (click)="showMusicList()"><h4>Musique</h4></button>
        </h4>
    </div>

    <div class="card-body">
        <div *ngIf="showAllMediaForm">
            <h2>Liste de tous les Médias</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Type de Média</th>
                        <th>Maison d'edition</th>
                        <th>Langue d'origine</th>
                        <th>Date de parution</th>
                    </tr>
                </thead>
                <tbody>
                    <tr  *ngFor="let perso of persoListJoinMedia$ | async">
                        <td class="nameInTable" [routerLink]="['/media/details/', perso.media.id]">{{perso.media.name}}</td>
                        <td>{{perso.media.typeMedia}}</td>
                        <td>{{perso.media.publishingHouse}}</td>
                        <td>{{perso.media.language}}</td>
                        <td>{{perso.media.parutionDate}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="showBoardGameForm">

                <h2>Liste des Jeux de plateaux</h2>

            <table>
                <thead>

                    <tr>
                        <th>Nom</th>
                        <th>Maison d'edition</th>
                        <th>Nombre de joueur(s)</th>
                        <th>Age recommandé</th>
                        <th>Durée du jeu (en minutes)</th>
                        <th>Langue d'origine</th>
                        <th>Date de parution</th>
                    </tr>
                </thead>
                <tbody *ngFor="let perso of persoListJoinMedia$ | async">
                    <tr *ngIf="perso.media.typeMedia=='BoardGame'">
                        <td class="nameInTable" [routerLink]="['/media/details/', perso.media.id]">{{perso.media.name}}</td>
                        <td>{{perso.media.publishingHouse}}</td>
                        <td>{{perso.media.playerNumber}}</td>
                        <td>{{perso.media.recommendedAge}}</td>
                        <td>{{perso.media.duration}}</td>
                        <td>{{perso.media.language}}</td>
                        <td>{{perso.media.parutionDate}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div *ngIf="showBookForm">
            <h2>
                Liste des Livres
              </h2>
            <table>

                <thead>

                    <tr>
                        <th>Nom</th>
                        <th>Auteur</th>
                        <th>Type de Livre</th>
                        <th>Maison d'edition</th>
                        <th>Langue d'origine</th>
                        <th>Date de parution</th>
                    </tr>
                </thead>
                <tbody *ngFor="let perso of persoListJoinMedia$ | async">
                    <tr *ngIf="perso.media.typeMedia=='Book'">
                        <td class="nameInTable" [routerLink]="['/media/details/', perso.media.id]">{{perso.media.name}}</td>
                        <td>{{perso.media.author}}</td>
                        <td>{{perso.media.bookType}}</td>
                        <td>{{perso.media.publishingHouse}}</td>
                        <td>{{perso.media.language}}</td>
                        <td>{{perso.media.parutionDate}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div *ngIf="showMagazineForm">
                                
                        <h2>Liste des Magazines</h2>
             
                    <table>
                <thead>

                    <tr>
                        <th>Nom</th>
                        <th>Périodicité</th>
                        <th>Maison d'edition</th>
                        <th>Langue d'origine</th>
                        <th>Date de parution</th>
                    </tr>
                </thead>
                <tbody *ngFor="let perso of persoListJoinMedia$ | async">
                    <tr *ngIf="perso.media.typeMedia=='Magazine'">
                        <td class="nameInTable" [routerLink]="['/media/details/', perso.media.id]">{{perso.media.name}}</td>
                        <td>{{perso.media.magazinePeriodicity}}</td>
                        <td>{{perso.media.publishingHouse}}</td>
                        <td>{{perso.media.language}}</td>
                        <td>{{perso.media.parutionDate}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div *ngIf="showMovieForm">                        
            <h2>Liste des Films</h2>
            <table>
                <thead>



                    <tr>
                        <th>Nom</th>
                        <th>Réalisateur(s)</th>
                        <th>Acteurs</th>
                        <th>Durée du film</th>
                        <th>Maison d'edition</th>
                        <th>Langue d'origine</th>
                        <th>Date de parution</th>
                    </tr>
                </thead>
                <tbody *ngFor="let perso of persoListJoinMedia$ | async">
                    <tr *ngIf="perso.media.typeMedia=='Movie'">
                        <td class="nameInTable" [routerLink]="['/media/details/', perso.media.id]">{{perso.media.name}}</td>
                        <td>{{perso.media.directors}}</td>
                        <td>{{perso.media.actors}}</td>
                        <td>{{perso.media.duration}}</td>
                        <td>{{perso.media.publishingHouse}}</td>
                        <td>{{perso.media.language}}</td>
                        <td>{{perso.media.parutionDate}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div *ngIf="showMusicForm">
            <h2>Liste des Musiques</h2>
            <table>
                <thead>

                        

                    <tr>
                        <th>Nom</th>
                        <th>Artiste</th>
                        <th>Nombre de chansons</th>
                        <th>Titres des chansons</th>
                        <th>Durée totale de l'Album</th>
                        <th>Maison d'edition</th>
                        <th>Langue d'origine</th>
                        <th>Date de parution</th>
            
                    </tr>
                </thead>
                <tbody *ngFor="let perso of persoListJoinMedia$ | async">
                    <tr *ngIf="perso.media.typeMedia=='Music'">
                        <td class="nameInTable" [routerLink]="['/media/details/', perso.media.id]">{{perso.media.name}}</td>
                        <td>{{perso.media.artist}}</td>
                        <td>{{perso.media.trackNumber}}</td>
                        <td>{{perso.media.tracks}}</td>
                        <td>{{perso.media.duration}}</td>
                        <td>{{perso.media.publishingHouse}}</td>
                        <td>{{perso.media.language}}</td>
                        <td>{{perso.media.parutionDate}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div *ngIf="showVideoGameForm">
            <h2 colspan="5">Liste des Jeux Vidéos</h2>
            <table>
                <thead>

                        

                    <tr>
                        <th>Nom</th>
                        <th>Multijoueur</th>
                        <th>Pegi</th>
                        <th>Maison d'edition</th>
                        <th>Langue d'origine</th>
                        <th>Date de parution</th>
                    </tr>
                </thead>
                <tbody *ngFor="let perso of persoListJoinMedia$ | async">
                    <tr *ngIf="perso.media.typeMedia=='VideoGame'">
                        <td class="nameInTable" [routerLink]="['/media/details/', perso.media.id]">{{perso.media.name}}</td>
                        <td *ngIf="perso.media.multiPlayer">Oui</td>
                        <td *ngIf="!perso.media.multiPlayer">Non</td>
                        <td>{{perso.media.pegi}}</td>
                        <td>{{perso.media.publishingHouse}}</td>
                        <td>{{perso.media.language}}</td>
                        <td>{{perso.media.parutionDate}}</td>
                    </tr>
                </tbody>
            </table>
        </div>   
    </div>
</nav>
