<div class="card mt-3">
  <form #inscriptionForm="ngForm" (ngSubmit)="addNewMedia()">
    <div class="card-header bg-primary text-white display-6">
      Ajout d'un nouveau média
    </div>
    <div class="card-body" *ngIf="showFirstForm">
      <div class="form-group">
        <label for="name">Nom:</label>
        <input type="text" class="form-control" id="name" name="name" [(ngModel)]="mediaForm.name"/>
      </div>

      <div class="form-group">
        <label for="typeMedia">Type de média:</label>
        <select class="form-select" id="typeMedia" name="typeMedia" [(ngModel)]="mediaForm.typeMedia">
          <!-- <option selected>Choisir un type de média</option> NE FONCTIONNE PAS POUR LE MOMENT A CAUSE DU NGMODEL, A VOIR SI ON PEUT FAIRE MARCHER CA-->
          <option *ngFor="let type of typesMedia" [value]="type">{{ type }}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="pHouse">Editeur:</label>
        <input
          type="text"
          class="form-control"
          id="pHouse"
          name="pHouse"
          [(ngModel)]="mediaForm.publishingHouse"
        />
      </div>

      <div class="form-group">
        <label for="language">Langue:</label>
        <input type="text" class="form-control" id="language" name="language" [(ngModel)]="mediaForm.language"/>
      </div>

      <div class="form-group">
        <label for="image">Image(à changer dans un second temps):</label>
        <input type="text" class="form-control" id="image" name="image" [(ngModel)]="mediaForm.image"/>
      </div>

      <div class="form-group">
        <label for="description">Résumé (ou description):</label>
        <input type="text" class="form-control" id="description" name="description" [(ngModel)]="mediaForm.description"/>
      </div>

      <div class="form-group">
        <input type="checkbox" class="form-check-input" id="dematerialized" name="dematerialized" [(ngModel)]="mediaForm.dematerialized"/>
        <label for="dematerialized"> Dématérialisé ?</label>
      </div>

      <div class="form-group">
        <label for="parutionDate">Date de parution:</label>
        <input type="date" class="form-control" id="parutionDate" name="parutionDate" [(ngModel)]="mediaForm.parutionDate"/>
      </div>
    </div>

    <div class="card-body" *ngIf="showBoardGameForm">
      <div class="form-group">
        <label for="playerNumber">Nombre de joueurs:</label>
        <input type="text" class="form-control" id="playerNumber" name="playerNumber" [(ngModel)]="mediaForm.playerNumber"/>
      </div>

      <div class="form-group">
        <label for="recoAge">Age recommandé:</label>
        <input type="number" class="form-control" id="recoAge" name="recoAge" [(ngModel)]="mediaForm.recommendedAge"/>
      </div>

      <div class="form-group">
        <label for="durationBG">Durée de la partie (en min):</label>
        <input type="number" class="form-control" id="durationBG" name="durationBG" [(ngModel)]="mediaForm.duration"/>
      </div>

      <div class="form-group">
        <label for="themeBoardGame">Thème:</label>
       <select class="form-control" id="themeBoardGame" name="themeBoardGame" [(ngModel)]="themeId">
          <option *ngFor="let theme of listTheme" [value]="theme.id">{{ theme.label }}</option>
        </select>
      </div>
    </div>

    <div class="card-body" *ngIf="showBookForm">
      <div class="form-group">
        <label for="author">Auteur:</label>
        <input type="text" class="form-control" id="author" name="author" [(ngModel)]="mediaForm.author"/>
      </div>

      <div class="form-group">
        <label for="isbn">ISBN:</label>
        <input type="text" class="form-control" id="isbn" name="isbn" [(ngModel)]="mediaForm.ISBN"/>
      </div>

      <div class="form-group">
        <label for="pagesNb">Nombre de pages:</label>
        <input type="number" class="form-control" id="pagesNb" name="pagesNb" [(ngModel)]="mediaForm.pagesNb"/>
      </div>

      <div class="form-group">
        <label for="chaptersNb">Nombre de chapitres:</label>
        <input type="number" class="form-control" id="chaptersNb" name="chaptersNb" [(ngModel)]="mediaForm.chaptersNb"/>
      </div>

      <div class="form-group">
        <label for="typeBook">Type de livre:</label>
        <select class="form-control" id="typeBook" name="typeBook" [(ngModel)]="mediaForm.booktype">
          <!-- <option selected>Choisir un type de livre</option> -->
          <option *ngFor="let type of bookTypes" [value]="type">{{ type }}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="themeBook">Thème:</label>
       <select class="form-control" id="themeBook" name="themeBook" [(ngModel)]="themeId">
          <option *ngFor="let theme of listTheme" [value]="theme.id">{{ theme.label }}</option>
        </select>
      </div>
    </div>

    <div class="card-body" *ngIf="showMagazineForm">
      <div class="form-group">
        <label for="issn">ISSN:</label>
        <input type="text" class="form-control" id="issn" name="issn" [(ngModel)]="mediaForm.ISSN"/>
      </div>

      <div class="form-group">
        <label for="numberMag">Numéro:</label>
        <input type="number" class="form-control" id="numberMag" name="numberMag" [(ngModel)]="mediaForm.number"/>
      </div>

      <div class="form-group">
        <label for="periodicity">Périodicité:</label>
        <select class="form-select" id="periodicity" name="periodicity" [(ngModel)]="mediaForm.magazinePeriodicity">
          <!-- <option selected>Choisir une périodicité</option> -->
          <option *ngFor="let type of magPeriodicities" [value]="type">{{ type }}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="themeMagazin">Thème:</label>
       <select class="form-control" id="themeMagazine" name="themeMagazine" [(ngModel)]="themeId">
          <option *ngFor="let theme of listTheme" [value]="theme.id">{{ theme.label }}</option>
        </select>
      </div>
    </div>

    <div class="card-body" *ngIf="showMovieForm">
      <div class="form-group">
        <label for="director">Réalisateur(s):</label>
        <input *ngFor="let e of [].constructor(mediaForm.directors.length); index as idx"
          type="text" class="form-control" id="director{{ idx }}" name="director{{ idx }}" [(ngModel)]="mediaForm.directors[idx]"/>
        <button type="button" class="btn btn-primary" (click)="addDirector()">
          <i class="bi bi-plus-square"></i>
        </button>
      </div>

      <div class="form-group">
        <label for="actors">Acteur(s):</label>
        <input *ngFor="let e of [].constructor(mediaForm.actors.length); index as idx"
          type="text" class="form-control" id="actors{{ idx }}" name="actors{{ idx }}"[(ngModel)]="mediaForm.actors[idx]"/>
        <button type="button" class="btn btn-primary" (click)="addActor()">
          <i class="bi bi-plus-square"></i>
        </button>
      </div>

      <div class="form-group">
        <label for="durationMovie">Durée du film (en min):</label>
        <input type="number" class="form-control" id="durationMovie" name="durationMovie" [(ngModel)]="mediaForm.duration"/>
      </div>

      <div class="form-group">
        <label for="supportMovie">Support du film:</label>
        <select class="form-select" id="supportMovie" name="supportMovie" [(ngModel)]="mediaForm.movieSupport">
          <!-- <option selected>Choisir un support</option> -->
          <option *ngFor="let type of movieSupports" [value]="type">{{ type }}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="themeMovie">Thème:</label>
       <select class="form-control" id="themeMovie" name="themeMovie" [(ngModel)]="themeId">
          <option *ngFor="let theme of listTheme" [value]="theme.id">{{ theme.label }}</option>
        </select>
      </div>
    </div>

    <div class="card-body" *ngIf="showMusicForm">
      <div class="form-group">
        <label for="tracks">Piste(s):</label>
        <input *ngFor=" let e of [].constructor(mediaForm.tracks.length); index as idx" 
        type="text" class="form-control" id="tracks{{ idx }}" name="tracks{{ idx }}" [(ngModel)]="mediaForm.tracks[idx]"/>
        <button type="button" class="btn btn-primary" (click)="addTrack()">
          <i class="bi bi-plus-square"></i>
        </button>
      </div>

      <div class="form-group">
        <label for="artist">Artiste:</label>
        <input type="text" class="form-control" id="artist" name="artist" [(ngModel)]="mediaForm.artist"/>
      </div>

      <div class="form-group">
        <label for="durationMusic">Durée (en min):</label>
        <input type="number" class="form-control" id="durationMusic" name="durationMusic" [(ngModel)]="mediaForm.duration"/>
      </div>

      <div class="form-group">
        <label for="trackNumber">Nombre de pistes:</label>
        <input type="number" class="form-control" id="trackNumber" name="trackNumber" [(ngModel)]="mediaForm.trackNumber"/>
      </div>

      <div class="form-group">
        <label for="supportMusic">Support :</label>
        <select class="form-select" id="supportMusic" name="supportMusic" [(ngModel)]="mediaForm.musicSupport">
          <!-- <option selected>Choisir un support</option> -->
          <option *ngFor="let type of musicSupports" [value]="type">{{ type }}</option>
        </select>
      </div>
      
      <div class="form-group">
        <label for="themeMusic">Thème:</label>
       <select class="form-control" id="themeMusic" name="themeMusic" [(ngModel)]="themeId">
          <option *ngFor="let theme of listTheme" [value]="theme.id">{{ theme.label }}</option>
        </select>
      </div>
    </div>

    <div class="card-body" *ngIf="showVideoGameForm">
      <div class="form-group">
        <label for="pegi">PEGI:</label>
        <input type="number" class="form-control" id="pegi" name="pegi" [(ngModel)]="mediaForm.pegi"/>
      </div>

      <div class="form-group">
        <input type="checkbox" class="form-check-input" id="multiplayer" name="multiplayer" [(ngModel)]="mediaForm.multiPlayer"/>
        <label for="multiplayer"> Multijoueur ?</label>
      </div>

      <div class="form-group">
        <label for="themeVideoGame">Thème:</label>
       <select class="form-control" id="themeVideoGame" name="themeVideoGame" [(ngModel)]="themeId">
          <option *ngFor="let theme of listTheme" [value]="theme.id">{{ theme.label }}</option>
        </select>
      </div>
    </div>

    <div class="card-footer">
      <div class="btn-group btn-group-lg float-right">
        <a class="btn btn-success" *ngIf="showFirstForm" (click)="showSecondPartOfForm()">
          <i class="bi bi-check-square-fill"></i>
        </a>
        <button type="submit" class="btn btn-success" *ngIf="!showFirstForm">
          <i class="bi bi-check-square-fill"></i>
        </button>
      </div>
    </div>
  </form>
</div>
