<div class="card-header">
    <h2>Mes Listes personnalisées</h2>
  </div>
<div class="card-body">

        <table class="table">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Modifier/supprimer</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let persoList of myPersoLists$ | async">
                    <td (click)="redirectToMediaList(persoList.id)">{{ persoList.name }}</td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <a class="btn btn-primary" (click)="edit(persoList.id)"><i
                                    class="bi bi-pencil-square"></i></a>
                            <a class="btn btn-danger" (click)="delete(persoList.id)"><i
                                    class="bi bi-trash"></i></a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table> 
</div>
<div class="card-footer" *ngIf="!persoListForm">
    <button class="btn btn-success" (click)="add()"><h4>Ajouter</h4></button>
</div>
   


<!-- Formulaire -->
<div *ngIf="persoListForm">
    <div class="card-header">
        <h2>Ajout/Edition d'une liste personnalisée</h2>
    </div>
    <br>    

    <div class="form-group">
            <label for="name">Nom :</label>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="persoListForm.name" />
    </div>
    <div class="container"> <div class="btn-group">
            <a class="btn btn-danger" (click)="cancel()"><i class="bi bi-x-square-fill"></i></a>
            <a class="btn btn-success" (click)="save()"><i class="bi bi-check-square-fill"></i></a>

    </div></div>
       
        

</div>
