<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barre de Recherche</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
                <div class="card-body">
                        <h1 class="text-center">Recherchez un document dans la médiathèque</h1>
                        <br>
                        <form action="#" method="get">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Entrez votre recherche..." name="q">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit">Rechercher</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
        </div>
</body>
</html>
