<div class="card mt-3">
    <div class="card-header bg-primary text-white display-6">Listes personnalisées</div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Identifiant</th>
                    <th>Nom</th>
                    <th>Compte</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let personnalizedList of persoLists">
                    <td>{{ personnalizedList.id }}</td>
                    <td>{{ personnalizedList.name }}</td>
                    <td>{{ personnalizedList.account | json }}</td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <a class="btn btn-primary" (click)="edit(personnalizedList.id)"><i
                                    class="bi bi-pencil-square"></i></a>
                            <a class="btn btn-danger" (click)="deletePersonnalizedList(personnalizedList.id)"><i
                                    class="bi bi-trash"></i></a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="card mt-3" *ngIf="personnalizedListForm">
    <div class="card-header bg-primary text-white display-6">Edition d'un utilisateur</div>
    <div class="card-body">
        <div class="form-group">
            <label for="id">Identifiant:</label>
            <input type="number" class="form-control" id="id" name="id" readonly [(ngModel)]="personnalizedListForm.id" />
        </div>
        <div class="form-group">
            <label for="name">Nom:</label>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="personnalizedListForm.name" />
        </div>
        <div class="form-group">
            <label for="account">Compte:</label>
            <input type="text" class="form-control" id="account" name="account" [(ngModel)]="personnalizedListForm.account" />
        </div>
    </div>
    <div class="card-footer">
        <div class="btn-group btn-group-lg float-right">
            <a class="btn btn-success" (click)="save()"><i class="bi bi-check-square-fill"></i></a>
            <a class="btn btn-warning" (click)="cancel()"><i class="bi bi-backspace-fill"></i></a>
        </div>
    </div>
</div>
