<body>
    <section class="container-fluid col-md-10 mt-2">
    <div class="row">
        <div class="card" id="header">
            <div class="card-body">
                <h1>Bienvenue sur Media Hub</h1>
                <p>Avec Média Hub, découvrez et gérez votre collection de médias. Ajoutez facilement des livres, films, jeux et bien plus et créer vos propres listes personnalisées.</p>
                <a [routerLink]="['/signin']" class="btn btn-secondary">Commencer maintenant</a>
            </div>
        </div>
    </div>
</section>


<div class="container col-md-10 mt-2">
    <hr>
    <div class="card">
            <h2 class="card-title" id = "whatToDoCardTitle">Que faire avec Media Hub ?</h2>
        <div class="card-body my-cards">
            <div class="d-flex align-items-center">
                <div class="col-md-4 d-flex align-items-center" >
                    <div class="card" id="card1">
                        <div class="card-body">
                            <h6 class="card-title">Ajout de média</h6>
                            <p class="card-text" style="font-size: small;">Ajoutez des médias parmi tous les médias créés par la communauté ou créez vos propres médias : livres, films, jeux ou encore albums de musique, le choix est large.</p>
                        </div>   
                    </div>
                </div>
                <div class="col-md-4 d-flex flex-column ">
                    <div class="card my-margin" id="card2">
                        <div class="card-body">
                            <h6 class="card-title">Listes personnalisées</h6>
                            <p class="card-text" style="font-size: small;">Créez des listes personnalisées selon vos besoins. Liste d'envie, de lecture, top10 ou playlist, à vous de choisir !</p>
                        </div>
                    </div>
                    <div class="card my-margin" id="card3">
                        <div class="card-body">
                            <h6 class="card-title">Partage (en construction)</h6>
                            <p class="card-text" style="font-size: small;">Notez ce film, consulter les avis sur ce jeu ou demander un emprunt pour ce livre !</p>
                        </div>
                        
                    </div>
                </div>
                <div class="col-md-4 d-flex align-items-center">
                    <div class="card" id="card4">
                        <div class="card-body">
                            <h6 class="card-title">Recherche</h6>
                            <p class="card-text" style="font-size: small;">Ne perdez plus de temps et profitez des fonctions de recherche avancée pour trouver exactement le média que vous recherchez</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <p style="color: lightgray; text-align: center;">Media Hub ©</p>
</div>



</body>






<!-- <section class="container-fluid mt-5">
    <h2 class="text-center mb-4">Que pouvez-vous faire ici ?</h2>
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Créer un compte</h3>
                    <p class="card-text">Rejoignez notre communauté en créant un compte personnel.</p>
                    <a [routerLink]="['/signin']" class="btn btn-primary">Inscription</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Se connecter</h3>
                    <p class="card-text">Connectez-vous à votre compte pour accéder à vos médias.</p>
                    <a [routerLink]="['/connection']" class="btn btn-primary">Connexion</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col mb-4">
            <div class="card text-center">
                <div class="card-body">
                    <h3 class="card-title">Consulter la liste des médias</h3>
                    <p class="card-text">Notre communauté a déjà contribué à remplir Média Hub, vous pouvez consulter
                        l'ensemble des médias disponibles ici.</p>
                    <a [routerLink]="['/watchMedia']" class="btn btn-primary">Liste des médias</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Ajouter un média</h3>
                    <p class="card-text">Contribuez à la médiathèque en ajoutant de nouveaux médias. Vous pourrez
                        ensuite décider de l'ajouter à votre compte.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Créer des listes personnalisées</h3>
                    <p class="card-text">Créez vos propres listes de média!</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container mt-5">
    <h2 class="text-center mb-4">Technologies Utilisées</h2>
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <img src="assets/angular_logo.png" alt="Logo Angular" height="70">
                    <h3 class="card-title">Angular</h3>
                    <p class="card-text">Framework JavaScript pour la construction d'applications web modernes.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <img src="assets/html_logo.png" alt="Logo HTML" height="70">
                    <h3 class="card-title">HTML</h3>
                    <p class="card-text">Langage de balisage pour la création de pages web.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <img src="assets/css_logo.png" alt="Logo SCSS" height="70">
                    <h3 class="card-title">SCSS</h3>
                    <p class="card-text">Préprocesseur CSS pour la création de styles avancés.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <img src="assets/java_logo.png" alt="Logo Java" height="70">
                    <h3 class="card-title">Java</h3>
                    <p class="card-text">Langage de programmation utilisé pour le développement backend.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <img src="assets/spring_logo.png" alt="Logo Spring" height="70">
                    <h3 class="card-title">Spring</h3>
                    <p class="card-text">Framework Java pour le développement d'applications d'entreprise.</p>
                </div>
            </div>
        </div>
    </div>
</section> -->

