<div class="card mt-3">
    <form (ngSubmit)="connection()" [formGroup]="connectionForm" novalidate autocomplete="off">
        <div class="card-header bg-primary text-white display-6">Connexion</div>
        <div class="card-body">
            <label for="username">Identifiant :</label><input type="text" class="form-control" id="username" name="username" formControlName="username"/>
            <span class="text-danger" *ngIf="connectionForm.get('username')?.dirty && connectionForm.get('username')?.hasError('required')">
                L'identifiant est obligatoire
            </span>
        </div>
        <div class="card-body">
            <label for="password">Mot de passe :</label><input type="password" class="form-control" id="password" name="password" formControlName="password"/>
            <span class="text-danger" *ngIf="connectionForm.get('password')?.dirty && connectionForm.get('password')?.hasError('required')">
                Le mot de passe est obligatoire
            </span>
        </div>
        <div class="card-footer">
            <div class="btn-group btn-group-lg float-right">
                <button type="submit" class="btn btn-success"><i class="bi bi-check-square-fill"></i></button>
            </div>
            <div *ngIf="showError">
                <span class="text-danger">
                    Compte non existant !!!
                </span>
            </div>
        </div>
    </form>
</div>