<!-- Tableau des listes personnalisées -->
<div class="card mt-3">
    <div class="card-header bg-primary text-white display-6">Listes personnalisées</div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Identifiant</th>
                    <th>Nom</th>
                    <th>Compte</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let personnalizedList of personnalizedLists$ | async">
                    <td>{{ personnalizedList.id }}</td>
                    <td>{{ personnalizedList.name }}</td>
                    <td>{{ personnalizedList.account?.id }} - {{ personnalizedList.account?.name }}</td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <a class="btn btn-primary" (click)="edit(personnalizedList.id)"><i
                                    class="bi bi-pencil-square"></i></a>
                            <a class="btn btn-danger" (click)="delete(personnalizedList.id)"><i
                                    class="bi bi-trash"></i></a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    <div><button class="btn btn-success" (click)="add()">Ajouter</button>
    </div>
    </div>
</div>

<!-- Formulaire d'édition -->
<div class="card mt-3" *ngIf="editForm">
    <div class="card-header bg-primary text-white display-6">Édition d'une liste personnalisée</div>
    <div class="card-body">
        <div class="form-group">
            <label for="name">Nom:</label>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="editForm.name" />
        </div>
        <div class="form-group">
            <label for="account">Compte:</label>
            <select class="form-control" id="account" name="account" [(ngModel)]="editForm.account.id">
            <option *ngFor="let acc of accounts$ |async" [value]="acc.id">{{acc.name}}</option>
        </select>
        </div>
    </div>
</div>
<!-- Formulaire d'ajout -->
<div class="card mt-3" *ngIf="addForm">
    <div class="card-header bg-primary text-white display-6">Ajout d'une liste personnalisée</div>
    <div class="card-body">
        <div class="form-group">
            <label for="name">Nom:</label>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="addForm.name" />
        </div>
        <div class="form-group">
            <label for="account">Compte:</label>
            <select class="form-control" id="account" name="account" [(ngModel)]="idAccountForm">
            <option *ngFor="let acc of accounts$ |async" [value]="acc.id">{{acc.name}}</option>
        </select>
        </div>
    </div>
    <div class="card-footer">
        <div class="btn-group btn-group-lg float-right">
            <a class="btn btn-success" (click)="saveAdd()"><i class="bi bi-check-square-fill"></i></a>
            <a class="btn btn-danger" (click)="cancel()"><i class="bi bi-x-square-fill"></i></a>
        </div>
    </div>
</div>