<nav class="nav nav-pills m-5">
    <div class="card-header">

        <button type="button" class="btn btn-primary" (click)="showAllMedia()">
            <h4>Médias</h4>
        </button>
        <button type="button" class="btn btn-primary" (click)="showMovieList()">
            <h4>Films</h4>
        </button>
        <button type="button" class="btn btn-primary" (click)="showBoardGameList()">
            <h4>Jeux de Plateau</h4>
        </button>
        <button type="button" class="btn btn-primary" (click)="showVideoGameList()">
            <h4>Jeux Vidéos</h4>
        </button>
        <button type="button" class="btn btn-primary" (click)="showBookList()">
            <h4>Livres</h4>
        </button>
        <button type="button" class="btn btn-primary" (click)="showMagazineList()">
            <h4>Magazines</h4>
        </button>
        <button type="button" class="btn btn-primary" (click)="showMusicList()">
            <h4>Musique</h4>
        </button>

    </div>

    <div class="card-body">

        <div *ngIf="showAllMediaForm">
            <h2>Liste de tous les Médias</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Type de Média</th>
                        <th>Maison d'edition</th>
                        <th>Langue d'origine</th>
                        <th>Date de parution</th>
                        <th>Ajouter à mes médias</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let med of media$ | async">
                        <td class="nameInTable" [routerLink]="['/media/details/', med.id]">{{med.name}}</td>
                        <td>{{med.typeMedia}}</td>
                        <td>{{med.publishingHouse}}</td>
                        <td>{{med.language}}</td>
                        <td>{{med.parutionDate}}</td>
                        <td>
                            <a class="btn btn-success btn-lg" (click)="addToMyMedia(med)"><i
                                    class="bi bi-plus-square"></i></a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <td colspan="6" class="text-center"><a class="btn btn-success btn-lg" (click)="addMedia()">Ajouter
                            un Média</a></td>
                </tfoot>
            </table>
        </div>

        <div *ngIf="showBoardGameForm">
            <h2>Liste des Jeux de plateaux</h2>
            <table>
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Maison d'edition</th>
                        <th>Nombre de joueur(s)</th>
                        <th>Age recommandé</th>
                        <th>Durée du jeu (en minutes)</th>
                        <th>Langue d'origine</th>
                        <th>Date de parution</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody *ngFor="let med of media$ | async">
                    <tr *ngIf="med.typeMedia=='BoardGame'">
                        <td class="nameInTable" [routerLink]="['/media/details/', med.id]">{{med.name}}</td>
                        <td>{{med.publishingHouse}}</td>
                        <td>{{med.playerNumber}}</td>
                        <td>{{med.recommendedAge}}</td>
                        <td>{{med.duration}}</td>
                        <td>{{med.language}}</td>
                        <td>{{med.parutionDate}}</td>
                        <td>
                            <a class="btn btn-success btn-lg" (click)="addToMyMedia(med)"><i
                                    class="bi bi-plus-square"></i></a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <td colspan="8" class="text-center"><a class="btn btn-success btn-lg" (click)="addMedia()">Ajouter
                            un Média</a></td>
                </tfoot>
            </table>
        </div>

        <div *ngIf="showBookForm">
            <h2>Liste des Livres</h2>

            <table>
                <thead>
            
                    <tr>
                        <th>Nom</th>
                        <th>Auteur</th>
                        <th>Type de Livre</th>
                        <th>Maison d'edition</th>
                        <th>Langue d'origine</th>
                        <th>Date de parution</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody *ngFor="let med of media$ | async">
                    <tr *ngIf="med.typeMedia=='Book'">
                        <td class="nameInTable" [routerLink]="['/media/details/', med.id]">{{med.name}}</td>
                        <td>{{med.author}}</td>
                        <td>{{med.bookType}}</td>
                        <td>{{med.publishingHouse}}</td>
                        <td>{{med.language}}</td>
                        <td>{{med.parutionDate}}</td>
                        <td>
                            <a class="btn btn-success btn-lg" (click)="addToMyMedia(med)"><i
                                    class="bi bi-plus-square"></i></a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <td colspan="7" class="text-center"><a class="btn btn-success btn-lg" (click)="addMedia()">Ajouter
                            un Média</a></td>
                </tfoot>
            </table>
        </div>

        <div *ngIf="showMagazineForm">
            <h2>Liste des Magazines</h2>

            <table>
                <thead>
                
                    <tr>
                        <th>Nom</th>
                        <th>Périodicité</th>
                        <th>Maison d'edition</th>
                        <th>Langue d'origine</th>
                        <th>Date de parution</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody *ngFor="let med of media$ | async">
                    <tr *ngIf="med.typeMedia=='Magazine'">
                        <td class="nameInTable" [routerLink]="['/media/details/', med.id]">{{med.name}}</td>
                        <td>{{med.magazinePeriodicity}}</td>
                        <td>{{med.publishingHouse}}</td>
                        <td>{{med.language}}</td>
                        <td>{{med.parutionDate}}</td>
                        <td>
                            <a class="btn btn-success btn-lg" (click)="addToMyMedia(med)"><i
                                    class="bi bi-plus-square"></i></a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <td colspan="6" class="text-center"><a class="btn btn-success btn-lg" (click)="addMedia()">Ajouter
                            un Média</a></td>
                </tfoot>
            </table>
        </div>

        <div *ngIf="showMovieForm">
            <h2>Liste des Films</h2>

            <table>
                <thead>

                    <tr>
                        <th>Nom</th>
                        <th>Réalisateur(s)</th>
                        <th>Acteurs</th>
                        <th>Durée du film</th>
                        <th>Maison d'edition</th>
                        <th>Langue d'origine</th>
                        <th>Date de parution</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody *ngFor="let med of media$ | async">
                    <tr *ngIf="med.typeMedia=='Movie'">
                        <td class="nameInTable" [routerLink]="['/media/details/', med.id]">{{med.name}}</td>
                        <td>{{med.directors}}</td>
                        <td>{{med.actors}}</td>
                        <td>{{med.duration}}</td>
                        <td>{{med.publishingHouse}}</td>
                        <td>{{med.language}}</td>
                        <td>{{med.parutionDate}}</td>
                        <td>
                            <a class="btn btn-success btn-lg" (click)="addToMyMedia(med)"><i
                                    class="bi bi-plus-square"></i></a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <td colspan="8" class="text-center"><a class="btn btn-success btn-lg" (click)="addMedia()">Ajouter
                            un Média</a></td>
                </tfoot>
            </table>
        </div>

        <div *ngIf="showMusicForm">
            <h2>Liste des Musiques</h2>

            <table>
                <thead>

                    <tr>
                        <th>Nom</th>
                        <th>Artiste</th>
                        <th>Nombre de chansons</th>
                        <th>Titres des chansons</th>
                        <th>Durée totale de l'Album</th>
                        <th>Maison d'edition</th>
                        <th>Langue d'origine</th>
                        <th>Date de parution</th>
                        <th class="no"></th>
                    </tr>
                </thead>
                <tbody *ngFor="let med of media$ | async">
                    <tr *ngIf="med.typeMedia=='Music'">
                        <td class="nameInTable" [routerLink]="['/media/details/', med.id]">{{med.name}}</td>
                        <td>{{med.artist}}</td>
                        <td>{{med.trackNumber}}</td>
                        <td>{{med.tracks}}</td>
                        <td>{{med.duration}}</td>
                        <td>{{med.publishingHouse}}</td>
                        <td>{{med.language}}</td>
                        <td>{{med.parutionDate}}</td>
                        <td>
                            <a class="btn btn-success btn-lg" (click)="addToMyMedia(med)"><i
                                    class="bi bi-plus-square"></i></a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <td colspan="9" class="text-center"><a class="btn btn-success btn-lg" (click)="addMedia()">Ajouter
                            un Média</a></td>
                </tfoot>
            </table>
        </div>

        <div *ngIf="showVideoGameForm">
            <h2>Liste des Jeux Vidéos</h2>

            <table>
                <thead>

                    <tr>
                        <th>Nom</th>
                        <th>Multijoueur</th>
                        <th>Pegi</th>
                        <th>Maison d'edition</th>
                        <th>Langue d'origine</th>
                        <th>Date de parution</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody *ngFor="let med of media$ | async">
                    <tr *ngIf="med.typeMedia=='VideoGame'">
                        <td class="nameInTable" [routerLink]="['/media/details/', med.id]">{{med.name}}</td>
                        <td *ngIf="med.multiPlayer">Oui</td>
                        <td *ngIf="!med.multiPlayer">Non</td>
                        <td>{{med.pegi}}</td>
                        <td>{{med.publishingHouse}}</td>
                        <td>{{med.language}}</td>
                        <td>{{med.parutionDate}}</td>
                        <td>
                            <a class="btn btn-success btn-lg" (click)="addToMyMedia(med)"><i
                                    class="bi bi-plus-square"></i></a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <td colspan="7" class="text-center"><a class="btn btn-success btn-lg" (click)="addMedia()">Ajouter
                            un Média</a></td>
                </tfoot>
            </table>
        </div>
    </div>
</nav>