<nav class="nav nav-pills m-5">
    <div class="card-header">
        
            <button type="button" class="btn btn-primary" (click)="showAllMedia()"><h4>Médias</h4></button>   
            <button type="button" class="btn btn-primary" (click)="showMovieList()"><h4>Films</h4></button>      
            <button type="button" class="btn btn-primary" (click)="showBoardGameList()"><h4>Jeux de Plateau</h4></button>        
            <button type="button" class="btn btn-primary" (click)="showVideoGameList()"><h4>Jeux Vidéos</h4></button>     
            <button type="button" class="btn btn-primary" (click)="showBookList()"><h4>Livres</h4></button>     
            <button type="button" class="btn btn-primary" (click)="showMagazineList()"><h4>Magazines</h4></button>      
            <button type="button" class="btn btn-primary" (click)="showMusicList()"><h4>Musique</h4></button>
        
    </div>

    <div class="card-body">

        <div *ngIf="showAllMediaForm">
            <h2>Liste de tous mes Médias</h2>
            <table class="table">
                <thead>

                    <tr>
                        <th>Nom</th>
                        <th>Type de Média</th>
                        <th>Maison d'edition</th>
                        <th>Langue d'origine</th>
                        <th>Date de parution</th>
                        <th>Supprimer de mes médias</th>
                    </tr>
                </thead>
                <tbody *ngFor="let med of accountMedia$ | async">
                    <tr *ngIf="med.account.id == user.id">
                        <td class="nameInTable" [routerLink]="['/media/details/', med.media.id]">{{med.media.name}}</td>
                        <td>{{med.media.typeMedia}}</td>
                        <td>{{med.media.publishingHouse}}</td>
                        <td>{{med.media.language}}</td>
                        <td>{{med.media.parutionDate}}</td>
                        <td>
                            <a class="btn btn-danger" (click)="deleteToMyMedia(med.id)"><i
                                class="bi bi-trash"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div *ngIf="showBoardGameForm">
            <h2>Liste de mes Jeux de plateaux</h2>
            <table class="table">
                <thead>

                    <tr>
                        <th>Nom</th>
                        <th>Maison d'edition</th>
                        <th>Nombre de joueur(s)</th>
                        <th>Age de recoomendation</th>
                        <th>Durée du jeu (en minutes)</th>
                        <th>Langue d'origine</th>
                        <th>Date de parution</th>
                        <th>Supprimer de mes médias</th>
                    </tr>
                </thead>
                <tbody *ngFor="let med of accountMedia$ | async">
                    <tr *ngIf="med.media.typeMedia=='BoardGame' && med.account.id == user.id">
                        <td class="nameInTable" [routerLink]="['/media/details/', med.media.id]">{{med.media.name}}</td>
                        <td>{{med.media.publishingHouse}}</td>
                        <td>{{med.media.playerNumber}}</td>
                        <td>{{med.media.recommendedAge}}</td>
                        <td>{{med.media.duration}}</td>
                        <td>{{med.media.language}}</td>
                        <td>{{med.media.parutionDate}}</td>
                        <td>
                            <a class="btn btn-danger" (click)="deleteToMyMedia(med.id)"><i
                                class="bi bi-trash"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div *ngIf="showBookForm">
            <h2>Liste de mes Livres</h2>
            <table class="table">
                <thead>

                    <tr>
                        <th>Nom</th>
                        <th>Auteur</th>
                        <th>Type de Livre</th>
                        <th>Maison d'edition</th>
                        <th>Langue d'origine</th>
                        <th>Date de parution</th>
                        <th>Supprimer de mes médias</th>
                    </tr>
                </thead>
                <tbody *ngFor="let med of accountMedia$ | async">
                    <tr *ngIf="med.media.typeMedia=='Book' && med.account.id == user.id">
                        <td class="nameInTable" [routerLink]="['/media/details/', med.media.id]">{{med.media.name}}</td>
                        <td>{{med.media.author}}</td>
                        <td>{{med.media.bookType}}</td>
                        <td>{{med.media.publishingHouse}}</td>
                        <td>{{med.media.language}}</td>
                        <td>{{med.media.parutionDate}}</td>
                        <td>
                            <a class="btn btn-danger" (click)="deleteToMyMedia(med.id)"><i
                                class="bi bi-trash"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div *ngIf="showMagazineForm">
            <h2>Liste de mes Magazines</h2>
            <table class="table">
                <thead>

                    <tr>
                        <th>Nom</th>
                        <th>Périodicité</th>
                        <th>Maison d'edition</th>
                        <th>Langue d'origine</th>
                        <th>Date de parution</th>
                        <th>Supprimer de mes médias</th>
                    </tr>
                </thead>
                <tbody *ngFor="let med of accountMedia$ | async">
                    <tr *ngIf="med.media.typeMedia=='Magazine' && med.account.id == user.id">
                        <td class="nameInTable" [routerLink]="['/media/details/', med.media.id]">{{med.media.name}}</td>
                        <td>{{med.media.magazinePeriodicity}}</td>
                        <td>{{med.media.publishingHouse}}</td>
                        <td>{{med.media.language}}</td>
                        <td>{{med.media.parutionDate}}</td>
                        <td>
                            <a class="btn btn-danger" (click)="deleteToMyMedia(med.id)"><i
                                class="bi bi-trash"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div *ngIf="showMovieForm">
            <h2>Liste de mes Films</h2>
            <table class="table">
                <thead>
                    <tr>

                    <tr>
                        <th>Nom</th>
                        <th>Réalisateur(s)</th>
                        <th>Acteurs</th>
                        <th>Durée du film</th>
                        <th>Maison d'edition</th>
                        <th>Langue d'origine</th>
                        <th>Date de parution</th>
                        <th>Supprimer de mes médias</th>
                    </tr>
                </thead>
                <tbody *ngFor="let med of accountMedia$ | async">
                    <tr *ngIf="med.media.typeMedia=='Movie' && med.account.id == user.id">
                        <td class="nameInTable" [routerLink]="['/media/details/', med.media.id]">{{med.media.name}}</td>
                        <td>{{med.media.directors}}</td>
                        <td>{{med.media.actors}}</td>
                        <td>{{med.media.duration}}</td>
                        <td>{{med.media.publishingHouse}}</td>
                        <td>{{med.media.language}}</td>
                        <td>{{med.media.parutionDate}}</td>
                        <td>
                            <a class="btn btn-danger" (click)="deleteToMyMedia(med.id)"><i
                                class="bi bi-trash"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div *ngIf="showMusicForm">
            <h2>Liste de mes Musiques</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Artiste</th>
                        <th>Nombre de chansons</th>
                        <th>Titres des chansons</th>
                        <th>Durée totale de l'Album</th>
                        <th>Maison d'edition</th>
                        <th>Langue d'origine</th>
                        <th>Date de parution</th>
                        <th>Supprimer de mes médias</th>
                    </tr>
                </thead>
                <tbody *ngFor="let med of accountMedia$ | async">
                    <tr *ngIf="med.media.typeMedia=='Music' && med.account.id == user.id">
                        <td class="nameInTable" [routerLink]="['/media/details/', med.media.id]">{{med.media.name}}</td>
                        <td>{{med.media.artist}}</td>
                        <td>{{med.media.trackNumber}}</td>
                        <td>{{med.media.tracks}}</td>
                        <td>{{med.media.duration}}</td>
                        <td>{{med.media.publishingHouse}}</td>
                        <td>{{med.media.language}}</td>
                        <td>{{med.media.parutionDate}}</td>
                        <td>
                            <a class="btn btn-danger" (click)="deleteToMyMedia(med.id)"><i
                                class="bi bi-trash"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div *ngIf="showVideoGameForm">
            <h2>Liste de mes Jeux Vidéos</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Multijoueur</th>
                        <th>Pegi</th>
                        <th>Maison d'edition</th>
                        <th>Langue d'origine</th>
                        <th>Date de parution</th>
                        <th>Supprimer de mes médias</th>
                    </tr>
                </thead>
                <tbody *ngFor="let med of accountMedia$ | async">
                    <tr *ngIf="med.media.typeMedia=='VideoGame' && med.account.id == user.id">
                        <td class="nameInTable" [routerLink]="['/media/details/', med.media.id]">{{med.media.name}}</td>
                        <td *ngIf="med.media.multiPlayer">Oui</td>
                        <td *ngIf="!med.media.multiPlayer">Non</td>
                        <td>{{med.media.pegi}}</td>
                        <td>{{med.media.publishingHouse}}</td>
                        <td>{{med.media.language}}</td>
                        <td>{{med.media.parutionDate}}</td>
                        <td>
                            <a class="btn btn-danger" (click)="deleteToMyMedia(med.id)"><i
                                class="bi bi-trash"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</nav>
